PORT=8003
MONGODB_URI=mongodb://localhost:27017/nexora-agent
REDIS_URL=redis://localhost:6379
 
CHAT_SERVICE=http://localhost:8002
 
GROQ_API_KEY=
GOOGLE_API_KEY=
 
MEMORY_MODEL=openai/gpt-oss-120b
 
TAVILY_API_KEY=
